:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none; /*Desactiva la sintesis automatica de negritas y cursivas por el navegador*/
  text-rendering: optimizeLegibility;/*Optimiza el renderizado del texto para mejorar la legibilidad*/
  -webkit-font-smoothing: antialiased;/*Mejora la suavidad de las fuentes en navegadores basados en WebKit (como Chrome y Safari) al aplicar un suavizado de bordes.*/
  -moz-osx-font-smoothing: grayscale;/*Aplica un suavizado de fuentes en escala de grises en sistemas operativos macOS*/
  -webkit-text-size-adjust: 100%;/*Evita que los navegadores móviles ajusten automáticamente el tamaño del texto*/
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

